@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

* {
    font-family: Okra, Helvetica, sans-serif;
}


/* header */

header {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
}

.headerImage {
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}

.headerImage img {
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    margin: 0 40px;
    /* font-weight: lighter; */
}

.rightFloat {
    list-style: none;
    font-weight: lighter;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    /* height: fit-content; */
}

.logo {
    width: 20vw;
}

.head h3 {
    font-size: 2.1rem;
    color: whitesmoke;
    font-weight: 400;
}

.search {
    display: flex;
    /* height: auto; */
    width: 55vw;
    align-items: center;
    border-radius: 10px;
    background: white;
    padding: 5px 4px;
    text-align: center;
}

.search .search_item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 60px;
}

.search .search_item p {
    color: grey;
    /* border-right: 1px solid gray; */
    font-size: 20px;
    font-weight: lighter;
    margin-right: 10px;
    margin: 10px;
}

.search .search_item input {
    outline: none;
    border: none;
    width: 200%;
    margin-left: 7px;
    padding-left: 10px;
    font-size: 20px;
    /* margin-left: 5px; */
}

.search .search_item:first-child {
    width: 15%;
    color: palevioletred;
    font-size: 1.8rem;
    /* margin-left: 30px; */
}

#search {
    margin-left: 120px;
    font-size: 1.5rem;
}

.search .search_item:last-child {
    width: 83%;
    color: grey;
}


/* section-1 */

.section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.section_1 .section_1_item {
    position: relative;
    width: 15rem;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    border: 1px solid white;
}

.section_1 .section_1_item img {
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    z-index: -1;
}

.section_1 .section_1_item .item-details {
    position: absolute;
    bottom: 3px;
    align-items: center;
    border: 0 0 10px 10px;
    background: white;
    width: 100%;
    height: 25%;
}

.section_1 {
    /* display: grid;
grid-template-columns: repeat(3, 1fr); */
    /* margin-bottom: 4rem;
margin: 50px;
transition: all 0.3s ease-in-out; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin: 30px;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    margin-top: 60px;
}


/* .section_1:hover {
transition: all 0.3s ease-in-out;
cursor: pointer;
} */

.section_1 .section_1_item {
    /* position: relative; */
    position: relative;
    width: 30rem;
    height: 360px;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section_1 .section_1_item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section_1 .section_1_item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
}

.section_1 .section_1_item .item-details {
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background: white;
    width: 100%;
    height: 25%;
    z-index: 2;
    /* margin-left: 10px */
}

.section_1 .section_1_item .item-details p {
    margin-left: 30px;
}


/* middle section(section-2) */

.section_2a {
    display: flex;
    width: 100%;
    /* justify-content: ; */
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 130px;
}

.center_section {
    margin-left: 75px;
    margin-top: 120px;
    margin-right: 120px;
    width: 91%;
}

.section_2 h2 {
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 5px;
}

.section_2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section_2 h6 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: lighter;
    color: rgba(99, 98, 98);
}

#gap>span {
    margin-top: 30px;
}

.section_2 span,
.fa-caret-right {
    color: palevioletred;
}

.img_details {
    width: 40%;
    height: 10%;
    /* overflow: hidden; */
    position: relative;
    border-radius: 8px;
}

.img_details div {
    position: absolute;
    /* background: linear-gradient(transparent, black); */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 107.4%;
    background: blur;
}

.img_details div span:first-child {
    display: inline-block;
    color: white;
    padding-left: 15px;
    font-size: 1.3rem;
    padding-bottom: 5px;
}

.img_details i {
    color: white;
    padding-bottom: 5px;
}

.img_details img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
}


/* section2b */

.center_section h1 {
    font-weight: lighter;
    font-size: 3.1rem;
    color: #383838;
}

.section_2b {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    /* grid-template-columns: 350px 350px 350px; */
    /* grid-template-rows: auto; */
    grid-template-columns: repeat(3, 1fr);
}

.locations {
    /* border: 1px solid rgb(235, 235, 235); */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 110px;
    overflow: hidden;
    border-radius: 10px;
}

.locations div {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-left: -70px;
}

.locations div span {
    /* color: rgb(65, 64, 64);
font-size: 1.2rem;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-top: -3px; */
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin: 0px 0px 0.5rem;
}

.locations div p {
    /* font-size: 16px; */
    font-size: 1.3rem;
    font-weight: lighter;
    margin-top: 0px;
}


/* section-3 */

.section_3 {
    display: flex;
    margin-top: 170px;
    margin-bottom: 100px;
    padding: 40px 0;
    background-color: rgb(235, 235, 235);
    justify-content: center;
}

.flex {
    display: flex;
}

.contact {
    width: 70%;
    overflow: hidden;
}

.contact img {
    width: 500px;
    padding-right: 15px;
}

.address {
    width: 550;
    margin-top: 20px;
}

.address p {
    padding-bottom: 10px;
    font-size: 1.3rem;
    color: rgb(92, 92, 91);
}

.address h2 {
    font-size: 3.2rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
}

.radio {
    display: flex;
    justify-content: space-between;
    margin-right: 290px;
    padding-bottom: 20px;
}

.radio label {
    font-size: 2rem;
    color: rgb(92, 92, 91);
}

.radio [type="radio"] {
    accent-color: rgb(255, 92, 92);
}

.email {
    position: relative;
}

.email input {
    height: 60px;
    border-radius: 5px;
    width: 400px;
    border: 1px solid rgb(184, 183, 183);
    outline: rgb(235, 92, 92);
    font-size: 1.3rem;
    padding-left: 15px;
}

.place {
    position: absolute;
    font-size: 1.3rem;
    left: 15px;
    top: 13px;
    color: gray;
    font-weight: lighter;
}

.email button {
    width: 150px;
    border-radius: 6px;
    border: 1px solid rgb(255, 104, 104);
    background-color: rgb(255, 104, 104);
    font-size: 1.1rem;
    margin-left: 6px;
    color: #ffffff;
}

.download {
    font-size: 0.7rem;
    margin-top: 27px;
    margin-bottom: 0;
    color: gray;
}

.app img {
    width: 220px;
    height: 60px;
}


/* section-5 */

.footer {
    width: 100%;
    background: rgb(248, 248, 248);
}

.section_5 {
    padding: 40px 120px;
    justify-content: space-between;
}

.first {
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
}

.first img {
    width: 128px;
    height: 32px;
}

.first_1a {
    display: flex;
}

.first_1a span {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 400;
}

.first_1a img {
    padding-top: 10px;
    margin-right: 5px;
    width: 25px;
    height: 15px;
}

.first_1a svg {
    padding-top: 10px;
    margin-right: 15px;
    width: 25px;
    height: 15px;
}