

*{
    font-family: Arial, Helvetica, sans-serif;
}

.signup-id{
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-50%, 0);
    visibility: hidden; 
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    border-radius: 2%;
    padding: 2%;
    margin: auto auto;
    margin-top: 10%;
    padding: 1%;
    
}
.signup-button:last-child{
    background-color: rgba(62, 60, 61, 0.453);
    color: whitesmoke;
}
.signup-heading{
    margin-top: -2%;
    font-size: 30px;
}
#input-number{
    width: 98%;
    height: 5vh;
}
#input-password{
    width: 98%;
    height: 5vh;
    margin-top: 5%;
}
#input-email{
    width: 98%;
    height: 5vh;
    margin-top: 5%;
}

/* starting modal */
.signup-container{
    border: 1px solid blue;
    position: relative;
    top: 50%;
    left: 50%;
    width: 24rem;
    transform: translate(-10%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
} 
.close-button:hover {
    background-color: rgb(218, 206, 206);
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/* end modal */

#checking{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    font-size: small
}
input[type=checkbox]:hover {
    border-color: red;
    background-color:blue;
}

.signup-button{
    width: 100%;
    margin-top: 5%;
    height: 6vh;
    padding: 2px;
    font-size: large;
    font-weight: lighter;
    color: rgba(63, 61, 61, 0.833);
    cursor: pointer;
    border-radius: 5px;
    border: 0ch;
}
#mail-icon{    
    width: 30px; 
    
}

/* or */

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    margin-top: 2px;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    margin-top: 2px;
    background-color: rgba(72, 72, 72, 0.613);

}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/* second div */

.inside-signup-button{
    display: flex;
    height: 6vh;
    width: inherit;
    margin-top: -0.8%;
    flex-direction: row;
    column-gap: -25%;
    justify-content: center;
}

.inside-signup-button > p{
    margin-top: 3%;
    text-align: center;
}
.inside-signup-button > .img{
    margin-top: 1%;
    margin-right: 10px;
}
.signup-container p a{
    text-decoration: none;
    color: rgb(239,79,95);
}

@media screen and (max-width : 460px){
    .signup-id{
        flex : 100%;
        display : flex;
        margin-top: 40%;
        margin-left : -61%;
        flex-direction: row;
        width: 95%; 
    }
    
}
@media screen and (min-width : 461px) and (max-width: 750px){
    .signup-id{
        flex : 100%;
        display : flex;
        margin-top: -55%;
        margin-left : -54%;
        flex-direction: row;
        width: 95%; 
    } 
}
@media screen and (min-width : 751px) and (max-width: 1080px){
    .signup-id{
        flex : 100%;
        display : flex;
        margin-top: 20%;
        margin-left : -65%;
        flex-direction: row;
        width: 95%; 
    }   
}
@media screen and (min-width : 1081px) and (max-width: 1540px){
    .signup-id{
        flex : 100%;
        display : flex;
        margin-top: 15%;
        margin-left : -70%;
        flex-direction: row;
        width: 100%; 
    }
    
}